<%- include("partials/header.ejs") %>
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-info">
  <a class="navbar-brand ml-5" href="#">Helpcamp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	   
     <ul class="navbar-nav ml-auto" >
         <span style="color:white" class="mt-2" >user: <%= currentuser.username %>
		 </span>
         <a class="nav-link " href="/logout">log out</a>
		</ul>
	</div>
</nav>
<div >
<div  class="jumbotron gk">
	<div class="container">
		<h1 class="display-4">HELP CAMP</h1>
        <p class="lead">Know about our hand picked Tourism spots from all over the country!</p>
       
      <a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add Campground</a>
		 
            	
	</div>
</div>
<div class="container">
	<div class="row">
		<% for(var i=0;i<camps.length;i++){ %>
		<div class="col-lg-4 col-sm-6 col-12 mb-4">
			<a style="text-decoration: none; " href="/campgrounds/<%=camps[i]._id %>">
			<div class="thumbnail">
		<div class="card"  >
  <img class="card-img-top" widht=200 height=200 class="img" src="<%= camps[i].image %>">
  <div class="card-body text-center">
    <h5 style="color:black;"class="card-title"> <%= camps[i].name %></h5>
    </div>
  </div>
</div>
				</a>
		</div>
		
<%}%>
	</div>
	
</div>

<%- include("partials/footer.ejs") %>